ol{
    /* display:flex; */
    justify-content: space-evenly;
    background-color:hotpink;
    color:chocolate;
    padding:10px;
    list-style: none;
    text-decoration:none;    
}
.Link{
    text-decoration: none;
    color:black;
}
.Link:hover{
    background-color:white;
    color:red;
}

